.form-group select.nav-select {
    padding: 0.35em;
    padding-right: 15px;
    border-radius: 3px;
}

/***************
 * CORD STYLES *
 ***************/
#analyzeContainer {
    position: relative;
    // background-color: aquamarine;
    width: 1080px;
    min-height: 620px;
    margin: auto;
}

#analyzeContainer > .container {
    width: 1080px !important;
}
