#aoiInfoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    padding:25%;
    background-color: #ffffffcc;
    z-index: 1035;
    display: none;

    .show {
        display: block;
    }
}

#aoiInfo {

}