.listMoreInfo {
  cursor: pointer;
}
.chosenAgregation ul {
  margin-bottom: 0px;
}
.chosenAgregation ul li {
  width: 11.11%;
}

.choosenStarAgregation {
  font-size: 42px;
  color: #ffc700;
  top: 10px;
  @media screen and (max-width: $screen-sm-max) {
    left: 2px;
  }
}
.choosenStarAgregationNumber {
  font-size: 10px;
  color: #000;
  position: absolute;
  top: 13px;
  left: 16px;
}
.choosenStarAgregation.muted{
  color: $mute-color;
}
.choosenStarAgregation.muted > .choosenStarAgregationNumber {
  color: darken($mute-color, 30%);
}

.aggregationNumber {
    display: inline-block;
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 0px;
    font-size: 18px;
    line-height: 1.75em;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    margin-left: 5px;
    position: relative;
    top: -4px;
    @media screen and (max-width: $screen-sm-max) {
      display: block;
      margin: 10px auto 0px;

    }
}
.aggregationNumber.muted {
  border: 2px solid $mute-color;
  color: $mute-color;
}
abbr.otherAgregation {
  font-size: 1.75em;
  @media (max-width: $screen-sm) {
    font-size: 1.25em;
  }
}

.componentOverview {
  display: none;
}
