// Styles for heatmap

#heatmapContainer {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    left: 0px;
}

#heatmap {
    position: relative;
    width: 100%;
    height: 100%;
}
