/* Icon Set Classes for Attributes */
.attrIcons {
    background-position: 50% 50%;
    background-size: cover;
}
.iconPlaceholder {
    background-image: url("../img/icons/icon-placeholder.svg");
}
.smokeNo {
    background-image: url("../img/icons/smoke-no.svg");
}
