/***************************
 * Put here stuff for Map  *
 ***************************/

#mapComponentsChoice {
  margin-bottom: 1em;
}

#poisMap {
  position: relative;
  width: 100%;
}

.ypoiIcon {
  // background-image: url("../img/leaflet/marker-isac-with-shadow.png");
  background-image: url("../img/leaflet/marker-food-with-shadow.png");
  background-position: center;
  background-size: cover;
  overflow: visible;
  position: relative;
}
.ypoiIcon > div {
  width: 150px;
  text-align: center;
  position: absolute;
  top: -23px;
  left: calc(-75px + 16px);
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.ypoiIcon > div > span {
  background: white;
  background: rgba(255, 255, 255, 0.75);
  padding: 5px;
  border: 1px solid white;
  border-radius: 15px;
}

.infoPopup > div.leaflet-popup-content-wrapper {
  background: adjust-color($urcd-color, $alpha: -0.25);
}

.popUpComponentList {
    // Just <ul>
    padding-bottom: 0px;
    .choosenStarAgregation {
        margin-left: 8px;
        margin-right: 5px;
        font-size: 12px;
        top: 3px;
    }
    .choosenStarAgregationNumber {
        font-size: 10px;
        color: #ffc700;
        top: 0px;
        left: -8px;
    }
    .binaryComponentInfo, .componentNameNominalComponent, .attributeNameNominalAttribute, .componentNameOrdinalComponent {
        font-size: 12px !important;
        line-height: 1.5em;
        padding-right: 0px;
        top: 0px;
        color: white;
    }
    .binaryComponentInfo span.glyphicon {
      font-size: 18px;
    }
    .nominalNameCombo, .componentNameOrdinalComponent {
        width: 85px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .nominalComponentContainer {
        .choosenStarAgregation {
            top: 7px;
        }
        .componentNameNominalComponent {
                line-height: 25px;
        }
    }
    .switch {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 30px;
        height: 17px;
    }
    .slider:before {
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px);
    } 
    li.nominalComponentContainer > div.nominalAttribute > figure.attrIcons {
        width: 25px;
        height: 25px;
    }
}

// #_____ Leaflet Manipulation _____ {}
.leaflet-popup-tip-container {
  display: none;
}
