/***************************
 * Put here stuff for Map  *
 ***************************/

#poisMap {
  position: relative;
  width: 100%;
}

.ypoiIcon {
  background-image: url("../img/leaflet/marker-isac-with-shadow.png");
  background-position: center;
  background-size: cover;
  overflow: visible;
  position: relative;
}
.ypoiIcon > div {
  width: 150px;
  text-align: center;
  position: absolute;
  top: -23px;
  left: calc(-75px + 16px);
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.ypoiIcon > div > span {
  background: white;
  background: rgba(255, 255, 255, 0.75);
  padding: 5px;
  border: 1px solid white;
  border-radius: 15px;
}

.infoPopup > div.leaflet-popup-content-wrapper {
  background: adjust-color($urcd-color, $alpha: -0.25);
}

.popUpComponentList {
    .choosenStarAgregation {
        margin-left: 8px;
        margin-right: 5px;
        font-size: 12px;
        top: 0px;
    }
    .choosenStarAgregationNumber {
        font-size: 10px;
        color: #ffc700;
        top: 0px;
        left: -8px;
    }
    .componentNameBinarySlider, .componentNameNominalComponent, .componentNameOrdinalComponent {
        font-size: 12px !important;
        line-height: 1em;
        padding-right: 0px;
        top: 0px;
        color: white;
        width: 85px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .nominalComponentContainer {
        .choosenStarAgregation {
            top: 7px;
        }
        .componentNameNominalComponent {
                line-height: 25px;
        }
    }
    .switch, .nominalAttribute {
        margin-top: -10px;
        margin-right: -20px;
        transform: scale(0.60);
    }
    .nominalAttribute {
        margin-top: -10px;
        transform: scale(0.60);
    }
}

// #_____ Leaflet Manipulation _____ {}
.leaflet-popup-tip-container {
  display: none;
}
