/*
 * Startfile for CSS in Food Map App
 */

// Import Bootswatch Wars
@import "variables";

// Import Bootstrap
@import "bootstrap";

// Import Bootswatch Theme
@import "bootswatch";

/*
 * Some Colors
 */

$urcd-color: #7d003c;

body {
	padding-top: 75px;
}

.navbar-default {
	background: $urcd-color;
	border-color: lighten($urcd-color, 13.5%);
	.navbar-brand, .navbar-nav > li > a {
		color: #fff;
	}
}
.navbar-brand {
		cursor: default;
}
.navbar-brand:hover, .navbar-brand:focus {
		color: #fff !important;
}

.components.choose {
	padding-bottom: 2em;
}

.gaugeValue {
	margin-right: 15px;
	cursor: row-resize;
}

input#componentInput::-webkit-input-placeholder {
	transition: color 0.5s ease-in-out;
}
input#componentInput:-moz-placeholder {
	transition: color 0.5s ease-in-out;
}
input#componentInput::-moz-placeholder {
	transition: color 0.5s ease-in-out;
}
input#componentInput:-ms-input-placeholder {
  transition: color 0.5s ease-in-out;
}
// Placeholder Error Color
input#componentInput.noChoice::-webkit-input-placeholder {
	color: $brand-danger;
}
input#componentInput.noChoice:-moz-placeholder {
	color: $brand-danger;
}
input#componentInput.noChoice::-moz-placeholder {
	color: $brand-danger;
}
input#componentInput.noChoice:-ms-input-placeholder {
	color: $brand-danger;
}
// Shortly Fade Placeholder by setting its color to white
input#componentInput.chosen::-webkit-input-placeholder {
	color: white;
}
input#componentInput.chosen:-moz-placeholder {
	color: white;
}
input#componentInput.chosen::-moz-placeholder {
	color: white;
}
input#componentInput.chosen:-ms-input-placeholder {
	color: white;
}

// Pie Chart CSS
.arc {
	stroke: #fff;
}
.arc text {
  font: 12px;
  text-anchor: middle;
	stroke: none;
}
.arc path {
	overflow: visible;
}
.legend {
	font-size: 12px;
}
rect {
  stroke-width: 2;
}

// Bar Chart
div.bar {
  font: 12px;
  background-color: $urcd-color;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: #c2005d;
	overflow: visible;
}
div.bar > div {
	display: block;
	white-space: nowrap;
}
div.bar:first-child {
	margin-top: 23px;
}
div.bar:last-child {
	margin-bottom: 28px;
}

// Treemap
.node {
  border: solid 1px white;
  font: 10px sans-serif;
	color: #000;
  line-height: 12px;
  overflow: hidden;
 	position: absolute;
  text-indent: 2px;
}
