<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch ".(js)$">
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-credentials "true"
  </FilesMatch>
</IfModule>
